@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Dots:wght@400..700&display=swap');

:root{
    --bg-color:#1a116e4f;
    --primary-color:#7a1b1bcb;
    --secundary-color:#b44168;
    --font-family: "Edu AU VIC WA NT Dots", cursive;
}

body{
    background-color: var(--bg-color);
    color: var(--primary-color);
    font-family: var(--font);
    height: 100vh;
    margin: 0;
}

header{
    background-color: var(--primary-color);
    text-align: center;
    padding: 1px;
}

h1{
    font-size: 2rem;
    color: var(--bg-color);
    font-weight: 700;
}

nav a{
    text-decoration: none;
    color: var(--bg-color);
    margin: 0rem 2rem 3rem 0rem;
}